@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {

    --primary-color: #0ea5e9;
    --dark-gray: #6b7280;
    --off-white:#f3f4f6;

}




body {

    font-family: 'Raleway', sans-serif;
    margin: 0px;

}

hr {

    margin: 3rem 0rem;

}

/**spaces**/

.margin-md{

     margin: 2rem;
}


/**container**/

.container {

    padding: 0rem 1rem;

}

.container-center {

    max-width: 600px;
    margin: auto;

}

/** links **/

.link {

    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem;
    margin-bottom: 1rem; */

}

.link-primary {

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white
}

.link-secondary {

    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

/**look into BEM naming convention for CSS**/

/**lists**/

.list-non-bullet {

    list-style: none;

}

.list-item-inline {

    display: inline;
    padding: 0rem 0.5rem;

}

/**navigation**/

.navigation {

    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {

    font-weight: bold;


}


.navigation .nav-pills {

    text-align: right;

}



.navigation .link {

    color: white;

}

.navigation .link-active {

    font-weight: bold;

}

/**header**/

.hero {

    padding: 2rem;
    padding-top: 5rem ;
}

.hero .hero-img {

    max-width: 400px;
    display: block;
    margin: auto;

}

.hero .hero-heading {

    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;


}

.hero .hero-heading .heading-inverted {

    color: var(--primary-color);

}

/**section**/

.section{

     padding: 2rem;
     margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;

}

.section h1 {

    text-align: center;

}

.ow{

   background-color: var(--off-white);


}

/**footers**/

.footer{

   background-color: var(--primary-color);
   padding:2rem 1rem;
   text-align: center;
   color: white;
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;


}

.footer .link{

  color: white;

}

.footer .footer-header{

    font-weight: bold;
    font-size: large;

}

.footer .ul{

    padding-inline-start: 0px;

}

.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}

article {
    display: block;
}

li{
    margin-bottom: 4rem;
}