@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --primary-color: #2E2F41; /* Provided primary color */
    --off-white: #f3f4f6;    /* Provided off-white color */
    --dark-gray: #6B7280;    /* Provided dark gray color */
}

h1 {
    text-align: center;
}

h3 {
    font-size: 30px;
    text-decoration-line: underline;
    margin-bottom: 1%;
    text-align: center;

}

p {
    font-size: large;
}

small {
    font-size: 18px;
}

strong {
    font-size: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

hr {
    margin: 3rem 0rem;
}

/**spaces**/

.margin-md {
    margin: 2rem;
}

/**container**/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/**look into BEM naming convention for CSS**/

/**lists**/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/**navigation**/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 1rem;
    padding-top: 1rem;
}

.hero .hero-img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-heading-wrapper {
    position: relative;
    text-align: center;
}

.hero .hero-heading {
    padding-top: 0rem;
    color: var(--dark-gray);
    font-size: 2.5rem; /* Adjust as needed */
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
    /* text-align: center; */
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** Animation **/

.hero .ghost {
    width: 8vmin;
    height: 12vmin;
    background-color: var(--off-white);
    background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
        radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
    border-radius: 100% / 70% 70% 0% 0%;
    transform: translateX(100em) rotateZ(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-90deg);
    opacity: 0.9;
    mix-blend-mode: exclusion;
    animation: ghostMove 4s ease-out infinite;
    z-index: 0;
}

@keyframes ghostMove {
    0% {
        transform: translateX(30em) rotateZ(-90deg);
    }
    100% {
        transform: translateX(-35em) rotateZ(-90deg);
    }
}

.hero .ghost div {
    position: absolute;
    width: 20%;
    background-color: var(--off-white);
}

.hero .ghost div:nth-of-type(1) {
    height: 7vmin;
    left: 0;
    bottom: -6vmin;
    border-radius: 100% / 0% 0% 50% 50%;
}

.hero .ghost div:nth-of-type(2),
.hero .ghost div:nth-of-type(4) {
    height: 4vmin;
    left: 20%;
    bottom: -3vmin;
    border-radius: 100% / 50% 50% 0% 0%;
    background-color: transparent;
}

.hero .ghost div:nth-of-type(3) {
    height: 4vmin;
    left: 40%;
    bottom: -3.95vmin;
    border-radius: 100% / 0% 0% 60% 60%;
    background-color: var(--off-white);
}

.hero .ghost div:nth-of-type(4) {
    left: 60%;
}

.hero .ghost div:nth-of-type(5) {
    height: 3vmin;
    left: 80%;
    bottom: -2.9vmin;
    border-radius: 100% / 0% 0% 70% 70%;
    background-color: var(--off-white);
}

/**section**/

.section {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center; /* Center text within the footer */
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem; /* Optional: Add spacing below the header */
}

.footer ul {
    padding-inline-start: 0; /* Remove default list padding */
    list-style-type: none; /* Remove default list bullets */
    text-align: center; /* Center align list items */
}

.footer li {
    display: inline; /* Make list items inline */
    margin: 0 1rem; /* Optional: Add spacing between list items */
}

.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}

article {
    display: block;
}

/* last change to add space between two projects */

li {
    margin-bottom: 4rem;
}

.skills-list {
    text-align: center;
}

.skills-list ul {
    display: inline-block;
    text-align: left;
}

.skills-list li {
    margin-bottom: 8px; /* Adjust spacing between items if needed */
}

/* Add these styles or update existing ones */
/* Reduce spacing around list items */

.experience ul {
    padding-left: 20px; /* Adjust left padding as needed */
    margin-bottom: 20px; /* Adjust bottom margin for spacing between sections */
}

.experience li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}

/* Experience bottom spacing */

.exp {
    padding-bottom: 2rem;
}

.place {
    margin-top: 1%;
}
